<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Artists</title>
    <link rel="stylesheet" href="/css/artists.css">
  </head>
  <body>
    <h1>Artists</h1>
    <p>Choose an artist</p>
    <form method='get' action='/artist'>
    <select name='name'>
      <option>Future</option>
      <option>Lil Wayne</option>
      <option>Young Thug</option>
      <option>21 Savage</option>
      <option>Travis Scott</option>
    </select>
    <input type="submit">
  </form>
  </body>
</html>
